.jumbotron {
    background-image: url("../images/belly_button_biodiversity.webp");
    background-size: 50% 50%;
    text-align: center;
    color: yellow;
    font:x-large;
}

h5 {
  color:rgb(20, 89, 158);
  font-weight:600;
  font-size: large;
}


h3 {
  border: 1em rgb(0, 20, 20);
  font-weight: 20;
  font-size: xx-large;
}